body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.6rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: black;
}

.container {
    width: 80%;
    border-left: 5px purple solid;
    border-top: 5px green solid;
    border-bottom: 5px yellow solid; */
    padding: 20px;
}

.box-1 {
    border: 5px red solid;
    color: #fff;
    border-bottom: 10px red dotted;
    border-width: 3px;
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 1em;
}

.box-2 {
}

.categories {
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    /* list-style-image: url('images/check.png'); */
}
