* {
    margin: 0;
    padding: 0;
}
.main-header {
    background-image: url("vast.jpeg");
    background-size: cover;


}

h1 {
    background-color: rgb(5, 70, 70);
    color: white;
    font-size: 5rem;
    width: 32%;
    padding: 10px;
    mix-blend-mode: screen;
}