* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(lightblue, transparent 20%),
                      linear-gradient(0deg, white,transparent 50%),
                      url("empathy.jpg");
    background-size: cover;
    height: 800px;
}

.box {
    padding-top: 40px;
    width: 200px;
    height: 200px;
    background-color: #299;
    position: absolute;

    -webkit-animation: slide 5s linear 0s 3;
            animation: slide 5s linear 0s 3;
}

@-webkit-keyframes slide {
    from {
        left: 0;
    }

    to {
        left: 600px;
    }
}

@keyframes slide {
    from {
        left: 0;
    }

    to {
        left: 600px;
    }
}