/* cause a gap to be between the wrapper div instances */ 
.wrapper {
	display: grid;
	grid-template-columns: 40% 30% 30%;
	grid-gap: 1em;
} 

/** set the background to grey of the wrapper that has a div and a class of wrapper to a darker grey color */
.wrapper > div {
	background: #eee; 
	padding: 1em,
}

/** every other nth-child show have a lighter greyish color */ 
.wrapper > div:nth-child(odd) {
	background: #ddd;

