
body { background-color: lightblue; }

div#one { display: flex; }
div#two { display: inline-flex; }
div { border: 1px solid; background: #AAAA; }
div > * { border: 1px solid; background: #AAAA; }
div p { margin: 0; }