<<<<<<< HEAD
#product-overview {
    background: #ff1b68;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf5c;
}
=======

>>>>>>> dfbd7ed57b5f9218ebc47db5a911ea3617b4217e
