/* Type Selectors */

ol li {
    background-color: tomato;
    color: white;
    margin-bottom: 5px;
}

body {
    color: #887787;
    margin: 0;
    font-size: 1em;
}

h1 {
    font-size: 5.625rem; /* 90px / 16px */
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    color: #48525c;
}

p {

}

/* ID Selectors */
#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px #ffa949;
}


/* Class Selectors */
.main-header {
    background-color: #ffa949;
    font-size: 2em;

}

.title {
    color: white;
    font-size: 1.625rem; /* 26px/16px */
}

.primary-content,
.secondary-content {
    text-align: center;
    width: 60%;
}

.primary-content,
.main-header {
    text-align: center;
}

.t-border {
    border-top: 2px solid lightgrey;
}


a:link {
    color: rgb(255, 169, 73);
    text-decoration: none;
}

a:visited {
    color: lightblue; 
}

a:hover {
    color: rgba(255, 169, 73, .4);
}
}

a:active {
    color: lightcoral;
}

:focus {
    color: white; 
    background-color: orange;
}